scripts/device

weechat/logs/**
weechat/irc.conf
weechat/weechat.log

config/nvim/temp
config/nvim/merged
config/nvim/repos
config/nvim/rollbacks
config/nvim/.dein
config/nvim/.cache
config/i3/config
config/weechat/irc.conf
config/ranger/history

vim/plugged
vim/plugged/**

**/cache/**
moc/pid
moc/last_directory


*.log
