[submodule "fonts/YosemiteSanFranciscoFont"]
	path = fonts/YosemiteSanFranciscoFont
	url = git@github.com:supermarin/YosemiteSanFranciscoFont.git
[submodule "fonts/Font-Awesome"]
	path = fonts/Font-Awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "fonts/fonts"]
	path = fonts/fonts
	url = git@github.com:powerline/fonts.git
[submodule "fonts/nerd-fonts"]
	path = fonts/nerd-fonts
	url = git@github.com:ryanoasis/nerd-fonts.git
[submodule "i3/bumblebee-status"]
	path = i3/bumblebee-status
	url = git@github.com:tobi-wan-kenobi/bumblebee-status

